<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Novo Artigo</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/categories/save">
                <input class="form-control" type="text" name="title" placeholder="Título do Artigo">
                <br>
                <textarea class="form-contro" placeholder="Escreva o artigo" name="body">
                    
                </textarea>
                <br>
                <button class="btn btn-success">Cadastrar</button>
            </form>
        </div>
    </div>
</div>

<%- include ('../../partials/footer.ejs') %>