<%- include ('../partials/header.ejs') %>
<%- include ('../partials/navbar.ejs') %>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Painel Administrativo</h2>
        </div>
        <div class="card-body">
            <h3>Bem vindo <%= email %> !</h3>
            <hr>
            <table>
                <tbody>
                    <tr>
                        <th>Categorias</th>
                        <th><a class="btn btn-success" href="/admin/categories">Gerenciar</a></th>
                    </tr>
                    <tr>
                        <th>Artigos</th>
                        <th><a class="btn btn-success" href="/admin/articles">Gerenciar</a></th>
                    </tr>
                    <tr>
                        <th>Usuários</th>
                        <th><a class="btn btn-success" href="/admin/users">Gerenciar</a></th>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>

<%- include ('../partials/footer.ejs') %>